.word {
  display: flex;
}

.char {
  width: 100px;
  height: 100px;
  border: 1px solid white;
}

body {
  text-align: center;
}

.words {
  width: 100%;
}

.word {
  justify-content: center;
}

.char {
  /* center chars */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: white;   
}
body{
  background-color: rgb(90, 162, 207);
}
#white{
  color: white;
}